@import 'variables';

.resetStyle {
  path {
    stroke: $blue_dark;
    fill: $blue_dark;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px auto;
}

.content {
  margin-left: 20px;
  margin-right: 20px;
}